@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
@import url(http://fonts.googleapis.com/css?family=Average);
.highlight {
  background: #000;
  padding: 5px 10px;
}
.highlight pre {
  margin: 0;
}
.highlight code {
  padding: 0;
  line-height: 1em;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k, .highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #ff9900;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}

body {
  background-color: #333;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

a {
  color: white;
}
a:hover {
  background-color: white;
  color: #333;
}

h2, h2 a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 7px;
  color: #EBFFB4;
  text-decoration: none;
  line-height: 1.2em;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  background-color: black;
  padding: 4px;
}
code.has-jax {
  padding: 0;
  background-color: transparent;
}

li {
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #eee;
  padding: 2px 4px;
}

#page {
  width: 750px;
  margin: 20px auto;
}
#page #header {
  width: 100%;
  padding: 4px;
  margin-bottom: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: right;
}
#page #header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding: 0 4px;
}
#page #header a.secondary_link {
  margin-left: 15px;
  color: #444;
}
#page #body {
  width: 100%;
  font-family: 'Average', 'Goudy Bookletter 1911', Georgia, 'Times New Roman', serif;
  font-size: 17px;
  line-height: 1.5em;
}
#page #body .postdate {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
#page #body .quote {
  background-color: #444;
  margin-left: 20px;
  padding: 10px;
}
#page #body img.figure, #page #body iframe {
  display: block;
  margin: 0 auto;
}
#page #body .chart {
  width: 700px;
  height: 400px;
  margin: 1em auto;
}
#page #footer {
  width: 100%;
  border-top: 1px solid #999;
  margin: 1em auto;
  padding: 1.2em 0;
  clear: both;
  font-size: 11px;
  color: #ccc;
  text-align: right;
}

#related, #comments {
  margin-top: 1em;
  border-top: 4px solid #ccc;
  padding-top: 1em;
}

#archive li {
  list-style-type: none;
}
#archive a {
  padding: 0 4px;
}
#archive time {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  padding-right: 2px;
}
#archive time strong {
  color: #CCC;
  margin-left: -4px;
}
#archive .external-site {
  color: #999;
  font-size: 70%;
}
#archive .external-site a {
  padding: 0 1px;
  color: #999;
}
#archive .external-site a:hover {
  color: #333;
}
#archive a.tag {
  font-size: 70%;
  padding: 2px 4px;
  border-radius: 7px;
  border: 1px solid #AAA;
  background-color: #444;
  color: #AAA;
}
#archive a.tag:hover {
  cursor: pointer;
  background-color: #FFF;
  border-color: #FFF;
  color: #333;
}
#archive a.tag.selected {
  background-color: #FFF;
  border-color: #FFF;
  color: #333;
}
#archive a.tag.selected:hover {
  border: 1px solid #AAA;
  background-color: #444;
  color: #AAA;
}
#archive.filtered time strong {
  font-weight: inherit;
  color: inherit;
}

.appetiteObscureTitle {
  font: 34px Coustard, helvetica, arial;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  color: #ccc;
}
